<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW2-DropBox Carousel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88E8385E1CFCBD410065FDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88E838721CFCBD410065FDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88E8387D1CFCBD410065FDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
